<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>tcgui</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-min.css') }}">
</head>
<body>

<div style="padding:2em;">
    <h1>TCGUI - Available Interfaces</h1>
    {% for rule in rules %}
        <div>
            <h2>{{ rule['name'] }}</h2>
            <form method="POST" action="{{ url_for('new_rule', interface=rule['name']) }}">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Current Value</th>
                            <th>New Value</th>
                            <th>Variance / Correlation</th>
                            <th>New Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Rate:</td>
			            <td align="right">{{ rule['rate'] }}</td>
                        <td align="left">
                            <input type="number" name="Rate" size="5">
                            <select name="rate_unit">
                                {% for unit in units %}
                                <option value="{{ unit }}"{% if unit == standard_unit %} selected{% endif %}>{{ unit }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Delay:</td>
                        <td>{{ rule['delay'] }}</td>
                        <td align="left"><input type="number" name="Delay" size="5"> ms</td>
                        <td>±{{ rule['delayVariance'] }}</td>
                        <td align="left">±<input type="number" name="DelayVariance" size="5"> ms</td>
                    </tr>
                    <tr>
                        <td>Loss:</td>
                        <td>{{ rule['loss'] }}</td>
                        <td align="left"><input type="number" name="Loss" size="5"> %</td>
                        <td>{{ rule['lossCorrelation'] }}</td>
                        <td align="left"> <input type="number" name="LossCorrelation" size="5"> %</td>
                    </tr>
                    <tr>
                        <td>Duplicate:</td>
                        <td>{{ rule['duplicate'] }}</td>
                        <td align="left"><input type="number" name="Duplicate" size="5"> %</td>
                    </tr>
                    <tr>
                        <td>Reorder:</td>
                        <td>{{ rule['reorder'] }}</td>
                        <td align="left"><input type="number" name="Reorder" size="5"> %</td>
                        <td>{{ rule['reorderCorrelation'] }}</td>
                        <td align="left"> <input type="number" name="ReorderCorrelation" size="5"> %</td>
                    </tr>
                    <tr>
                        <td>Corrupt</td>
                        <td>{{ rule['corrupt'] }}</td>
                        <td align="left"><input type="number" name="Corrupt" size="5"> %</td>
                    </tr>
                </tbody>
                </table>
                <input class="pure-button pure-button-primary" type="submit" value="Apply {{ rule['name'] }} Rules">
            </form>
            <form method="POST" action="{{ url_for('remove_rule', interface= rule['name']) }}">
                <input class="button-remove pure-button" type="submit" value="Remove {{ rule['name'] }} Rules">
            </form>
        </div>
    {% endfor %}
</div>
<style>
    /* th,td { */
        /* text-align: center; */
    /* } */

    .button-remove {
        color: white;
        background: rgb(202, 60, 60);
    }

    .pure-button {
        margin-top: .5em;
    }
</style>
</body>
</html>
